// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui.scss";

// Temp fix for reactstrap
@import '~@coreui/coreui/scss/_dropdown-menu-right.scss';

// If you want to add something do it here
@import "custom";

// ie fixes
@import "ie-fix";

$red: #86163B;
$darkred: #6D0022;
$white: #fff;
$pink: rgba(255,255,255,0.15);



/* Header Nav Styles */
.sidebar-fixed .app-header + .app-body .sidebar {
    height: calc(100vh - 80px);
}
.header-fixed
{
    .app-body{
        margin-top:80px;
    }
}
.app-header
{
    flex: 0 0 80px;
    height:80px;

    .navbar-brand
    {
        width:260px;
        height:40px;
        margin-left:0px;
    }
}

/* Side Bar Styles */
.sidebar
{
    height: calc(100vh - 80px); 
    background-color:$red;
    width:auto !important;
    .sidebar-nav{
        /* width:260px; */
    }
    .nav{
        /* width:260px; */
    }
    .nav-link{
        &:hover {
            color: $white;
            background: $darkred;
            .nav-icon
            {
                color: $white;
            }
        }
        .nav-icon
        {
            color: $white;
        }
    }
    .nav-link.active
    {
        background:$red;
        color:$white;
        .nav-icon{
            color: $white;
        }
    }
    
    .nav-dropdown{
        background: $white;

        .nav-link{
            color: $red;
            .nav-icon{
                color: $red;
            }
            &:hover {
                color: $white !important;
                background: $darkred;
                .nav-icon
                {
                    color: $white;
                }
            }
        }
       
        .nav-icon
        {
            color: $white;
        }
        .nav-dropdown-toggle{
            background: $red;
            color: $white;

            .nav-icon{
                color: $white;
            }

        }
        .nav-dropdown-items
        {
            .nav-item{
                .nav-link{
                   .nav-icon{
                       width:0rem !important;
                   } 
                }
            }
            .nav-link.active{
                background: $red;
                color: $white;
            }
        }
    }
    .nav-dropdown.open{
        background: $white;
        color: $red;
        .nav-dropdown-toggle{
            color: $white !important;
        }
        .nav-link{
            color: $red;
        }
    }
    .nav-title.seperator
    {
        width:90%;
        height:1px;
        background: $pink;
        padding:0px;
        margin-left:10px;
        margin-right:10px;
        margin-top:0px;
        margin-bottom:0px;
    }
}
.sidebar-minimized
{
    .sidebar{
        .nav{
            .nav-dropdown-items
            {
                background: $darkred !important;
                .nav-item{
                    .nav-link{
                        padding-left:10px;
                    }
                }
            }
            .nav-item{
                &:hover {
                    color: $white !important;
                    background: $red !important;
                    .nav-icon
                    {
                        color: $white;
                    }
                }  
                .nav-link{
                    color: $white;
                   

                     
                }
                
            }
        }
    }
}

/* Main Area Styles */
/* .main
{
    margin-left:260px !important;
} */


.sidebar-minimized .sidebar .nav-item:hover>.nav-link {
    background: $red;
}